# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.vscode/
.DS_Store
dist/
build/

# PHP / Laravel
/vendor/
/.env
/.env.*
/storage/
Homestead.yaml
Homestead.json
/public/storage
/.idea/

# Vite / local
/.vite/

# log
logs/
*.log

# IDE
*.iml
.idea/

# OS
Thumbs.db
